/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
    color: #000000; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0; /* Elimina el margen predeterminado del body */
    position: relative;
}

/* Navbar */
.navbar {
    margin-bottom: 30px;
    background-color: #ffffff; 
    color: #000000; 
}

.navbar a {
    color: #000000; 
}

.navbar a:hover {
    color: #000000; 
}

/* Estilos para el contenedor del slider */
/*#carouselExampleCaptions {
    /*height: 400px; /* Ajusta esta altura según tus necesidades */
    /*overflow: hidden; /* Asegura que nada se desborde fuera del contenedor */
/*}

/* Estilos para las imágenes del slider */
/*#carouselExampleCaptions .carousel-inner img {*/
    /*height: 100%; /* La imagen debe cubrir toda la altura del contenedor */
    /*width: 100%; /* La imagen cubre todo el ancho del contenedor */
    /*object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
    /*transform: translateY(0); /* Ajusta la posición inicial de la imagen */
    /*transition: transform 0.5s ease; /* Suaviza la transición si cambias la posición */
    /*filter: brightness(75%);
    7*transition: filter 0.5s ease; /* Suaviza la transición del brillo si cambias el valor */
/*}

/* Mueve la imagen dentro del slider ajustando el valor de translateY */
/*#carouselExampleCaptions .carousel-inner img {
    /* Ajusta estos valores según necesites */
    /*transform: translateY(-24%); /* Cambia el valor para ajustar la posición vertical de la imagen */
/*}*/
/*Carrusel de imagenes*/
.carousel-item{
	height: 400px;
}

.carousel-item img{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 400px;
	filter: brightness(70%);
    
}

.container {
    margin-top: 20px;
}

/* Productos */
.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

/* Modals */
.modal-content img {
    width: 100%;
}

.modal-body{
    font-size: 15px;
}

/* Formulario Multistep */
#multistepForm .step {
    margin-bottom: 20px;
}

#multistepForm .form-group {
    margin-bottom: 15px;
}

/* Visualización Interactiva de Ingredientes */
.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 15px;
    font-size: 18px;
}

/* Scrollspy */
.scrollspy-example {
    position: relative;
    height: 300px;
    overflow-y: auto;
}

.nav-link.active {
    font-weight: bold;
    color: #000000;
}

 /* Estilo para ajustar el tamaño del gráfico */

 #myChart, #effectivenessChart {
    width: 50%;
    height: 300px; /* Ajusta el alto según lo necesites */
}

.modal-body img {
    max-width: 50%;  /* Ajusta el tamaño máximo de la imagen */
    height: auto;    /* Mantiene la proporción de la imagen */
    display: block;  /* Asegura que la imagen sea un bloque */
    margin: 0 auto;  /* Centra la imagen dentro del contenedor */
}

/* Estilos de index */
#curved-section {
    position: relative;
    background-color: #E6DED7; 
    clip-path: ellipse(75% 100% at 50% 0%);
    padding: 50px 0;
    color: #000000; 
    overflow: visible;
}

#product-image {
    position: absolute;
    right: 10; /* Alinea la imagen al borde derecho del contenedor */
    bottom: -200px; /* Baja la imagen más allá del borde inferior del contenedor */
    transform: translateX(50%); /* Desplaza la imagen hacia la izquierda, haciendo que una parte quede fuera del área de color */
    max-width: 300px;
    height: auto;
    z-index: 10; /* Asegura que la imagen esté al frente */
}

#product-description {
    max-width: 50%;
    padding-left: 50px;
    z-index: 5;
}

/* Buttons */
.btn-light {
    background-color: #D4B2A7; /* DUSTY ROSE */
    color: #000000; 
    border: none;
    border: 1px solid #CDC6C3; /* Borde STONE */
}

.btn-light:hover {
    background-color: #A38F85; 
    color: #000000; 
    border: 1px solid #CDC6C3; /* Borde STONE */
}

.btn-primary{
    margin-bottom: 15px;
    border: 1px solid #CDC6C3; /* Borde STONE */
}

/* Sections */
.section-primary {
    background-color: #ffffff; 
    color: #000000; 
}

.section-secondary {
    background-color: #ffffff; 
    color: #000000; 
}

.section-highlight {
    background-color: #CDC6C3; /* STONE */
    color: #000000; 
}

/* Headers */
h1, h2, h3 {
    color: #000000; 
    padding-top: 20px;
    padding-bottom: 20px;
}

/*p*/
p{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: justify;
}

.icon-text-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacio debajo del contenedor */
}
.icon {
    font-size: 24px; /* Tamaño del icono */
    color: #f39c12;  /* Color del icono */
    margin-right: 15px; /* Espacio entre el icono y el h2 */
}
/* Footer */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    color: #333;
}
.footer h5 {
    margin-bottom: 20px;
    font-weight: bold;
}
.footer .social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
    transition: color 0.3s;
}
.footer .social-icons i:hover {
    color: #f39c12; /* Color de hover para los iconos */
}
.footer .column {
    margin-bottom: 20px;
}

/*Curva para la página de contacto*/
.contact-section {
    position: relative;
    background-color: #ffffff;
    padding: 40px 0;
    overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}
.contact-section::before {
    content: "";
    position: absolute;
    top: -50px; /* Ajusta para que la curva esté más visible */
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #E7D7C9 50%, #CDC6C3 50%);
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
    z-index: -1;
}

/* Curva en la parte superior de la sección */
.curve-section {
    position: relative;
            height: 80px;
            background: linear-gradient(to right, #E7D7C9, #E6DED7); /* Gradiente de colores */
}
.curve-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #CDC6C3;
    border-radius: 50% 50% 0 0;
    z-index: -1;
}
.section-divider {
    border-top: 1px solid #CDC6C3; /* Color de la línea */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 20px 0; /* Espaciado arriba y abajo */
    width: 100%; /* Asegura que ocupe el ancho completo */
}

/* Estilos página contacto - redes*/
.contact-cards {
    margin-bottom: 30px;
    margin-top: 50px;
}
.contact-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.contact-card i {
    font-size: 2rem;
    color: #000000;
    padding-right: 20px;
}
.contact-card h5 {
    margin-top: 10px;
    font-size: 1.25rem;
}
.contact-card p a {
    text-decoration: none;
    color: #A38F85;
}
.contact-form {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.contact-form h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.contact-cards .contact-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}

.contact-cards .contact-card h5 {
    font-weight:lighter;
}

.contact-cards .contact-card p {
    font-size: 16px;
}

/* Estilo base de los iconos de contacto */
.contact-icon {
    color: #A38F85; /* LATE */
    font-size: 24px; /* Tamaño del icono */
    transition: color 0.3s ease; /* Transición suave de color */
}

/* Cambiar el color al pasar el mouse */
.contact-icon:hover {
    color: #D4B2A7; /* DUSTY ROSE al pasar el mouse */
}

/*Estilos página contacto - form*/
.contact-form {
    background-color: #ffffff; /* Fondo suave */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Sombra para levantar el formulario visualmente */
    max-width: 800px;
    margin: 50px auto;
}

.contact-form h3 {
    font-weight:lighter;
    margin-bottom: 20px;
}

.form-control-lg {
    border-radius: 5px;
    border: 1px solid #ccc; /* Borde suave */
    padding: 15px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves en el hover */
}

.form-control-lg:focus {
    border-color: #E7D7C9; /* Cambia el color de borde al hacer foco */
    box-shadow: 0 0 10px rgba(248, 74, 126, 0.25); /* Agrega un efecto de luz en el foco */
}

.btn {
    padding: 10px 15px;
    border-radius: 20px; /* Botón más redondeado */
    font-size: 15px;
    background: linear-gradient(45deg, #E7D7C9, #D4B2A7); /* Gradiente en el botón */
    border: 1px solid #CDC6C3; /* Borde STONE */
    color: #333;
    transition: background 0.3s ease;
}

.btn:hover {
    background: linear-gradient(45deg, #D4B2A7, #E7D7C9); /* Cambia el gradiente al pasar el mouse */
    border: 1px solid #CDC6C3; /* Borde STONE */
}

.contact-form label {
    font-weight: 500; /* Aumentar peso de las etiquetas */
    color: #555; /* Cambiar el color de las etiquetas */
}

.contact-form .btn-block {
    width: 100%;
    text-align: center;
}

/*Estilos pagina contacto - opiniones*/
.contact-card {
    position: relative;
    overflow: visible; /* Permite que el contenido (como la imagen) sobresalga de la tarjeta */
    margin-top: 20px;
}

.user-image {
    position: absolute;
    top: -40px; /* Ajusta este valor para que la imagen sobresalga más */
    left: -22px; /* Ajusta según sea necesario */
    width: 80px; /* Tamaño de la imagen */
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff; /* Añade un borde para que se vea más claro */
    z-index: 10; /* Hace que la imagen esté encima de la tarjeta */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade sombra para resaltar la imagen */
}